// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as tropicalia from "../../../index.js";

export declare namespace UploadClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Upload files and manage documents
 */
export class UploadClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UploadClient.Options>;

    constructor(options: UploadClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Upload a file for processing and indexing. Max 100MB.
     *
     * @param {tropicalia.UploadFileRequest} request
     * @param {UploadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.upload.file({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         projectId: "projectId"
     *     })
     */
    public file(
        request: tropicalia.UploadFileRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.UploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__file(request, requestOptions));
    }

    private async __file(
        request: tropicalia.UploadFileRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.UploadResponse>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(request.projectId)}/upload`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.UploadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectId}/upload",
        );
    }

    /**
     * List all documents in a project
     *
     * @param {tropicalia.ListDocumentsRequest} request
     * @param {UploadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.upload.listDocuments({
     *         projectId: "proj_9f8b7c6d5e4a3b2c1d0e"
     *     })
     */
    public listDocuments(
        request: tropicalia.ListDocumentsRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.Document[]> {
        return core.HttpResponsePromise.fromPromise(this.__listDocuments(request, requestOptions));
    }

    private async __listDocuments(
        request: tropicalia.ListDocumentsRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.Document[]>> {
        const { projectId, skip, limit } = request;
        const _queryParams: Record<string, unknown> = {
            skip,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/documents`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.Document[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectId}/documents",
        );
    }

    /**
     * Delete a document from the project
     *
     * @param {tropicalia.DeleteDocumentRequest} request
     * @param {UploadClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.upload.deleteDocument({
     *         projectId: "proj_9f8b7c6d5e4a3b2c1d0e",
     *         documentId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
     *     })
     */
    public deleteDocument(
        request: tropicalia.DeleteDocumentRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.DocumentDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDocument(request, requestOptions));
    }

    private async __deleteDocument(
        request: tropicalia.DeleteDocumentRequest,
        requestOptions?: UploadClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.DocumentDeleteResponse>> {
        const { projectId, documentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/documents/${core.url.encodePathParam(documentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.DocumentDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/projects/{projectId}/documents/{documentId}",
        );
    }
}
