// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as tropicalia from "../../../index.js";

export declare namespace ProjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage projects and resources
 */
export class ProjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProjectsClient.Options>;

    constructor(options: ProjectsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all projects for the authenticated user
     *
     * @param {tropicalia.ListProjectsRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.listProjects()
     */
    public listProjects(
        request: tropicalia.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.Project[]> {
        return core.HttpResponsePromise.fromPromise(this.__listProjects(request, requestOptions));
    }

    private async __listProjects(
        request: tropicalia.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.Project[]>> {
        const { skip, limit } = request;
        const _queryParams: Record<string, unknown> = {
            skip,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                "v1/projects",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.Project[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects");
    }

    /**
     * Create a new project
     *
     * @param {tropicalia.CreateProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.createProject({
     *         name: "Tropical Rainforest Conservation",
     *         description: "A project focused on preserving tropical rainforest biodiversity."
     *     })
     */
    public createProject(
        request: tropicalia.CreateProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.Project> {
        return core.HttpResponsePromise.fromPromise(this.__createProject(request, requestOptions));
    }

    private async __createProject(
        request: tropicalia.CreateProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.Project>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                "v1/projects",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.Project, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects");
    }

    /**
     * Returns a specific project by ID
     *
     * @param {tropicalia.GetProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.getProject({
     *         projectId: "proj_9f8b7c6d"
     *     })
     */
    public getProject(
        request: tropicalia.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.Project> {
        return core.HttpResponsePromise.fromPromise(this.__getProject(request, requestOptions));
    }

    private async __getProject(
        request: tropicalia.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.Project>> {
        const { projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.Project, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{projectId}");
    }

    /**
     * Update a project by ID
     *
     * @param {tropicalia.UpdateProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.updateProject({
     *         projectId: "proj_9f8b7c6d",
     *         name: "Tropical Rainforest Conservation",
     *         description: "A project focused on preserving the biodiversity of tropical rainforests."
     *     })
     */
    public updateProject(
        request: tropicalia.UpdateProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.Project> {
        return core.HttpResponsePromise.fromPromise(this.__updateProject(request, requestOptions));
    }

    private async __updateProject(
        request: tropicalia.UpdateProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.Project>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.Project, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/projects/{projectId}");
    }

    /**
     * Delete a project and all its documents
     *
     * @param {tropicalia.DeleteProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.deleteProject({
     *         projectId: "proj_9f8d7c2a"
     *     })
     */
    public deleteProject(
        request: tropicalia.DeleteProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.ProjectDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteProject(request, requestOptions));
    }

    private async __deleteProject(
        request: tropicalia.DeleteProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.ProjectDeleteResponse>> {
        const { projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.ProjectDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/projects/{projectId}");
    }
}
