// This file was auto-generated by Fern from our API Definition.

import type * as tropicalia from "./api/index.js";
import { ProjectsClient } from "./api/resources/projects/client/Client.js";
import { UploadClient } from "./api/resources/upload/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace tropicaliaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class tropicaliaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<tropicaliaClient.Options>;
    protected _projects: ProjectsClient | undefined;
    protected _upload: UploadClient | undefined;

    constructor(options: tropicaliaClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get projects(): ProjectsClient {
        return (this._projects ??= new ProjectsClient(this._options));
    }

    public get upload(): UploadClient {
        return (this._upload ??= new UploadClient(this._options));
    }

    /**
     * Perform a semantic search across project documents
     *
     * @param {tropicalia.SearchRequest} request
     * @param {tropicaliaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.search({
     *         projectId: "proj_9f8b7c6d",
     *         query: "Best practices for sustainable tropical agriculture",
     *         retrieval_strategy: "hybrid",
     *         expand_query: false,
     *         rerank: true,
     *         generate_answer: true,
     *         include_sources: true,
     *         limit: 50
     *     })
     */
    public search(
        request: tropicalia.SearchRequest,
        requestOptions?: tropicaliaClient.RequestOptions,
    ): core.HttpResponsePromise<tropicalia.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: tropicalia.SearchRequest,
        requestOptions?: tropicaliaClient.RequestOptions,
    ): Promise<core.WithRawResponse<tropicalia.SearchResponse>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.tropicaliaEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as tropicalia.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.tropicaliaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectId}/search",
        );
    }
}
